[submodule "Engine/Externals/VectorMatrix"]
	path = Engine/Externals/VectorMatrix
	url = https://github.com/Souto-Naitou/VectorMatrix.git
[submodule "Engine/Externals/Easing_ImGui"]
	path = Engine/Externals/Easing_ImGui
	url = https://github.com/Souto-Naitou/Easing_ImGui.git
[submodule "Engine/Externals/NiGui"]
	path = Engine/Externals/NiGui
	url = https://github.com/Souto-Naitou/NiGui.git
[submodule "Engine/Externals/googletest"]
	path = Engine/Externals/googletest
	url = https://github.com/google/googletest.git
